/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border-radius: 20px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Source code pro", Verdana, sans-serif;
}

header{
    height: 70px;
    background-color: dodgerblue;
    margin: 0;
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}

header h1{
    color: white;
    font-weight: bold;
    align-self: center;
    justify-self: start;
    margin-left: 20px;
}

header div.login-container{
    margin-right: 20px;
    align-self: center;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

tr{
    font-weight: bold;
    border-radius: 5px;
}

tbody tr:hover{
    background-color: lightgray;
}

div.tableau table#relics tr{
    height: 32px;
}

td{
    text-align: center;
    vertical-align: middle;
}

#searchItems{
    flex-grow: 1;
}

#searchBar{
    display: flex;
    width: 30%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.allTable{
    width: 80%;
    float: right;
}

.tableau{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}